/* p {
    background-color: blue;
    color: white;
 }
  */
p#id-selector-1 {
 background-color: red;
 color: white;
}
p#id-selector-2 {
 background-color: yellow;
 color: black;
}

.wd-class-selector {
    background-color: yellow;
    color: blue;
}

.wd-selector-1 .wd-selector-3 {
    background-color: red;
    color: white;
 }
.wd-selector-2 > .wd-selector-3 > .wd-selector-4 {
    background-color: yellow;
    color: blue;
}
.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-blue { color: #7070ff; }
.wd-fg-color-red { color: #ff7070; }
.wd-fg-color-green { color: green; }

.wd-bg-color-yellow {
    background-color: #ffff07;
 }
 .wd-bg-color-blue {
    background-color: #7070ff;
 }
 .wd-bg-color-red {
    background-color: #ff7070;
 }
 .wd-bg-color-green {
    background-color: green;
 }

 .wd-border-fat {
    border-width: 20px 30px 20px 30px; }
 .wd-border-thin {
    border-width: 4px; }
 .wd-border-solid {
    border-style: solid; }
 .wd-border-dashed {
    border-style: dashed; }
 .wd-border-yellow {
    border-color: #ffff07; }
 .wd-border-red {
    border-color: #ff7070; }
 .wd-border-blue {
    border-color: #7070ff; }

.wd-padded-top-left {
  padding-top: 50px;
  padding-left: 50px;
}



.wd-padded-bottom-right {
  padding-bottom: 50px;
  padding-right: 50px;
}

.wd-padding-fat {
  padding: 50px;
}

.wd-margin-bottom {
  margin-bottom: 50px;
}

.wd-margin-right-left {
  margin-left: 50px;
  margin-right: 50px;
}

.wd-margin-all-around {
  margin: 30px;
}

   